{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex p-2">
    <div class="card float-left bg-light " style="width: 25rem;">
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ series.series_preview }}" alt="Card image cap">
    </div>
    <div class="container d-flex p-2">
        <ul>
            <h5 class="h5 text-white">{{ series.series_title }}</h5>
            <p class="text-white">Год выхода : {{ series.series_year }}</p>
            <p class="text-white">Актеры :
                {% for actor in actors %}
                <a href="{% url 'actor_card' actor.pk %}">
                    {{ actor.name }} {{ actor.surname }}
                </a>
                {% endfor %}
            </p>
            <p class="text-white">Жанр :
                {% for category in categories %}
                <a href="{% url 'category_series' category.pk %}" class=" ">{{ category.category }}
                </a>
                {% endfor %}
            </p>
            <p class="text-white text-left">{{ series.description }}</p>
        </ul>
    </div>
</div>
{% block video %}
    <div class="container d-flex p-2">
        <div class="container">
        {% for file in series_files %}
            <li class="btn btn-light btn-sm" >
                <a href="{% url 'getepisode' series.pk file.series_index %}">{{ forloop.counter }}</a>
            </li>
        {% endfor %}
            <video
                    id="my-video"
                    class="video-js"
                    controls
                    preload="auto"
                    width="1000"
                    height="800"
                    poster="{{ MEDIA_URL }}{{ series.series_preview }}"
                    data-setup="{}"
            >

            </video>
        </div>
    </div>
{% endblock %}
<script src="{% static 'js/series_choice.js' %}"></script>
{% endblock %}
