{% extends 'base.html' %}

{% block title %}{{actor.name}}{% endblock %}
{% block content %}
<div class="container d-flex p-2">
    <div class="card d-flex p-2" style="width: 25rem;">
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ actor.actor_photo }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="h5 text-center" style="font-family: cursive;">{{ actor.name }}</h5>
        </div>
    </div>
    <div class="container d-flex p-2">
        <ul>
            <h5 class="h5 text-white">{{ actor.name }} {{ actor.surname }}</h5>
            <p class="text-white">День рождения : {{ actor.birthday }}({{ year }} лет)</p>
        </ul>
    </div>
</div>
<div class="d-flex p-2">
    <div class="container">
        <p class="text-white d-flex p-2">Снимался в фильмах : </p>
        {%for film in films %}
        <div class="d-inline-flex p-2">
            <a href="{% url 'movie_view' film.pk %}">
                <img src="{{ MEDIA_URL }}{{ film.film_preview }}" width="300" height="450" class="rounded">
            </a>
        </div>
        {% endfor %}
        {%for series in series %}
        <div class="d-inline-flex p-2">
            <a href="{% url 'series_view' series.pk %}">
                <img src="{{ MEDIA_URL }}{{ series.series_preview }}" width="300" height="450" class="rounded">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}