{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container d-flex p-2">
    <div class="card float-left bg-light " style="width: 25rem;">
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ film.film_preview }}" alt="Card image cap">
    </div>
    <div class="container d-flex p-2">
        <ul>
            <h5 class="h5 text-white">{{ film.film_title }}</h5>
            <p class="text-white">Год выхода : {{ film.film_year }}</p>
            <p class="text-white">Актеры :
                {% for actor in actors %}
                <a href="{% url 'actor_card' actor.pk %}">
                    {{ actor.name }} {{ actor.surname }}
                </a>
                {% endfor %}
            </p>
            <p class="text-white">Жанр :
                {% if film.tag == '1' %}
                    {% for category in categories %}
                    <a href="{% url 'category_films' category.pk %}" class=" ">{{ category.category }}
                    </a>
                    {% endfor %}
                {% else %}
                    {% for category in categories %}
                    <a href="{% url 'category_cartoon' category.pk %}" class=" ">{{ category.category }}
                    </a>
                    {% endfor %}
                {% endif %}
            </p>
            <p class="text-white text-left">{{ film.description }}</p>
        </ul>
    </div>
</div>
<div class="container d-flex p-2">
    <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="1000"
            height="800"
            poster="{{ MEDIA_URL }}{{ film.film_preview }}"
            data-setup="{}"
    >
        <source src="{{ MEDIA_URL }}{{ film.film_file }}" type="video/mp4"/>
    </video>
</div>
<div class="container">
    <form method="post" action="{% url 'add_film_review' film.pk user.pk %}">
        {% csrf_token %}
        <input name="comment"/>
        <button type="submit">Отправить</button>
    </form>
    {% for comment in comments %}
       <p>{{comment.author}} {{comment.comment}}</p>
    {% endfor %}
</div>
{% endblock %}